[user]
  name = Danny Tatom
  email = danny@tatom.xyz
	signingkey = 71BA823238005462

[github]
  user = its-danny

[credential "https://github.com"]
  helper = !gh auth git-credential

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[init]
	defaultBranch = main

[commit]
	gpgsign = true
